@model IEnumerable<assignment2.Models.Product>

<h1>@ViewBag.Title</h1>
<p><a asp-action="Create">Create New</a></p>

<form asp-action="Index" method="get">
    <p>
        Category:
        @Html.DropDownList("categoryId", (IEnumerable<SelectListItem>)ViewBag.CategoryId, "All Categories", new { onchange = "submit()" })
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th style="text-align: right;">
                Value
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        string price = "$" + string.Format("{0:#,##0.00}", item.UnitPrice);
        string value = "$" + string.Format("{0:#,##0.00}", decimal.Round(item.UnitPrice * item.UnitsInStock, 2, MidpointRounding.AwayFromZero));
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => price)
            </td>
            <td style="text-align: right;">
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td style="text-align: right;">
                @Html.DisplayFor(modelItem => value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>